extends layout

block content

  .container
    .row
      .about-div
        h1 about me

        p I'm a webdev in ashland oregon who is building his first large site in Node and I wanted a smaller project as a playground.  You're looking at it. This site is built with node, express, jade, sequelizejs, and d3.

        p Otherwise I'm a boring dude who spends a lot of time at Noble on 4th.

        p The code for this page can be found
          a(href='https://github.com/warpedpuppy/simple_node_blog', target="_blank")  here.

        p Lastly, I know this site is completely undesigned at this point.  It is on the (very long) to do list.
