extends layout

block content

  script(src="/javascripts/angularApp_Index.js")

  .container
    .row
      h1 about

      p This is a basic blog structure built with node, express, jade, and sequelizejs.

      p The code for this site can be seen at: https://github.com/warpedpuppy/simple_node_blog
