extends layout

block content

  .container
    .row


      form(action='/admin_login/login', method='post',  class='form-horizontal enter-media-form', id="admin_login_form")
        .form-group
          .col-sm-12.text-center
              h4 admin section login
        .form-group
          label.col-sm-2.control-label password:
          .col-sm-10
            input(type='password', class='form-control', name='password', id='password', placeholder='password')/
        .form-group
          .col-sm-12.text-right
            input(type='submit',class='btn btn-default')/



