extends layout

block content

  script(src="/javascripts/angularApp_Admin.js")

  div(ng-controller='MainCtrl')
    .container
      .row
        .text-right
          a(href='/admin/logout')
            button.btn.btn-danger log out
        ul.nav.nav-tabs
          li.active
            a(ng-click="showEnterEssay()", aria-controls='essay', role='tab', data-toggle='tab') enter essay
          li
            a(ng-click="showEnterMedia()", aria-controls='media', role='tab', data-toggle='tab') enter media
          li
            a(ng-click="showApproveComments()", aria-controls='comments', role='tab', data-toggle='tab') comments awaiting approval
          li
            a(ng-click="showManageMedia()", aria-controls='media', role='tab', data-toggle='tab') manage media
          li
            a(ng-click="showDeleteEssays()", aria-controls='deleteEditEssay', role='tab', data-toggle='tab') delete/edit essays




    //.tab-content

    .container
      .row



        div(ng-show='show_add_essay')
            h1 enter essay


            form(ng-controller="AddEssayCtrl",ng-submit="addEssayFormFunction()" class='form-horizontal enter-media-form')
              .form-group
                label.col-sm-2.control-label title:
                .col-sm-10
                  input(type='text', class='form-control', ng-model='essay_title_text', placeholder='title')/
              .form-group
                label.col-sm-2.control-label essay:
                .col-sm-10
                  textarea(class="form-control", rows="3", ng-model="essay_text")
              .form-group
                .col-sm-12.text-right
                  button(type='submit',class='btn btn-default', id="enter_essay_button") enter essay
                  //input(type='submit',class='btn btn-default', value='enter essay')/





        div(ng-show='show_add_media')
                  h1 enter media

                  form(ng-controller="AddMediaCtrl",ng-submit="addMediaFormFunction()"   class='form-horizontal enter-media-form')
                    .form-group
                      label.col-sm-2.control-label title:
                      .col-sm-10
                        input(type='text', class='form-control', ng-model='media_title' placeholder='title')/


                    .form-group
                      label.col-sm-2.control-label author:
                      .col-sm-10
                        input(type='text', class='form-control', ng-model='media_author' placeholder='author')/

                    .form-group
                      label.col-sm-2.control-label genre:
                      .col-sm-10
                        select(class='form-control',ng-model='media_genre' )
                          option(value='television') television
                          option(value='book') book
                          option(value='movie') movie


                    .form-group
                      .col-sm-12.text-right
                        button(type='submit',class='btn btn-default', id="enter_media_button") enter media button
                        //input(type='submit',class='btn btn-default', value='enter media')/

                  h1.alert


        div(ng-show='show_approve_comments',ng-controller="ApproveCommentsCtrl")

              h1 comments awaiting approval
              table.table.table-striped.data-table
                thead
                  tr
                    th essay title
                    th commenter
                    th comment
                    th approve?
                tbody#table_body
                  tr(ng-repeat='comment in comments')
                    td {{comment.essay_title}}
                    td {{comment.name}}
                    td
                      pre {{comment.comment}}
                    td
                      button(ng-click='approveComment(comment.id, $index)', class="btn btn-success") approve
                      button(ng-click='deleteComment(comment.id, $index)', class="btn btn-danger") delete



        div(ng-show='show_edit_media',ng-controller="ManageMediaCtrl")

              h1 media entered

              table.table.table-striped.data-table
                thead
                  tr
                    th title
                    th author
                    th genre
                    th delete record
                tbody#table_body
                  tr(ng-repeat='medium in media')
                    td {{medium.title}}
                    td {{medium.author}}
                    td {{medium.genre}}
                    td
                      button(ng-click='confirmDeletion(medium.id, $index)', class='btn btn-danger',  ng-show='isVisible(medium)') confirm deletion

                      button(ng-click='toggleVisibility(medium)', class='btn btn-success', ng-show='isVisible(medium)') cancel deletion

                      button(ng-click='toggleVisibility(medium)', class='btn btn-primary', ng-hide='isVisible(medium)') delete this record


        div(ng-show='show_delete_essays',ng-controller="DeleteEditEssaysCtrl")

              h1 delete/edit essays


              form(ng-show='show_edit_form',ng-submit="submitEssayEdits()", class='form-horizontal enter-media-form')
                .form-group
                  label.col-sm-2.control-label title:
                  .col-sm-10
                    input(type='text', class='form-control', ng-model='essays.edit_essay.essay_title')/
                    input(type='hidden', class='form-control', ng-model='essays.edit_essay.id')/
                .form-group
                  label.col-sm-2.control-label essay:
                  .col-sm-10
                    textarea(name='essay', class="form-control", rows="30", ng-model='essays.edit_essay.essay')
                    h1(ng-bind='warning2')
                .form-group
                  .col-sm-12.text-right
                    input(type='submit', class='btn btn-default', value='submit edits')/


              table(class='table table-striped', ng-hide='show_edit_form')
                thead
                  tr
                    th id
                    th title
                    th edit
                    th delete
                tbody#table_body
                  tr(ng-repeat='essay in essays')
                    td {{essay.id}}
                    td {{essay.essay_title}}
                    td
                      button(ng-click='editEssay(essay.id, $index)',class='btn btn-warning') edit
                    td

                      button(ng-click='toggleVisibility(essay)', class='btn btn-success', ng-show='isVisible(essay)') cancel deletion
                      button(ng-click='toggleVisibility(essay)',class='btn btn-danger', ng-hide='isVisible(essay)') delete
                      button(ng-click='deleteRecord(essay.id, $index)',class='btn btn-danger', ng-show='isVisible(essay)') confirm deletion









