extends layout

block content

      script(type="text/javascript" src="/bower_components/tinymce-dist/tinymce.js")
      script(type="text/javascript" src="/bower_components/angular-ui-tinymce/src/tinymce.js")
      script(src="/javascripts/angularApp_Essays.js")
      script.
        tinymce.init({
          selector:'div.comment-div',
          menubar: false,
          statusbar: false,
          toolbar:false
        })


      div(ng-controller="MainCtrl")
        .container(ng-hide="show_one")
          .row
            .text-center
              ul(class="pagination pagination-sm")


                li(class="{{essays.double_back_class}}")
                  a(ng-click="next('double_back')", aria-label="Previous")
                    span &laquo;


                li(class="{{essays.single_back_class}}")
                  a(ng-click="next('single_back')" aria-label="Previous")
                    span &lsaquo;






                li(ng-repeat='button_data in essays.button_data_array', class='{{button_data.class}}',ng-click="get_essay_list($index)")
                  span  {{button_data.i}} - {{button_data.final_number}}



                li(class="{{essays.single_forward_class}}")
                  //href='{{essays.single_forward_link_string}}',
                  a(ng-click="next('single_forward')",aria-label="Previous")
                    span &rsaquo;




                li(class="{{essays.double_forward_class}}")
                  a(ng-click="next('double_forward')", aria-label="Previous")
                    span &raquo;




            .text-center
              p.total-text there are {{essays.total_records}} essays
            .text-center.col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3

              ol.list-group
                li(class='essay list-group-item',ng-repeat='essay in essays.essays')

                  a(ng-click='fetch_essay($index)') {{essay.essay_title}} created on {{essay.createdAt}}





        .container(ng-show="show_one")
          .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
            button(class="btn btn-default" ng-click='switch_to_list()') return to essay list

          .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.essay-header
            .col-xs-6.col-sm-6
              h2.essay-title {{essays.essay.essay_title}}
            .col-xs-6.col-sm-6.essay-date
              h3.essay-date {{essays.essay.updatedAt}}


          .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
            div(class="essay-format" ng-bind-html="trust(essays.essay.essay)")


           .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3
            form(class='form-horizontal',ng-controller="CommentCtrl",ng-submit="add_comment()")
              .form-group
                .col-sm-12.text-center
                  h4.add-comment-text add comment
                  div.post-warning warning: all comments must be approved
              .form-group
                .col-xs-2.col-sm-2.control-label
                  label name:
                .col-xs-10.col-sm-10
                  input(ng-model="comment_name",type='text', class='form-control', placeholder='type name here')/
                  input(type='text', class='form-control', ng-model='test', style='display:none;')/
                  input(ng-model="essay_id",type='hidden', class='form-control')/
                  input(ng-model="essay_title",type='hidden', class='form-control')/

              .form-group
                .col-xs-2.col-sm-2.control-label
                  label comment:
                .col-xs-10.col-sm-10
                  div(ng-model="comment_body", class="comment-div form-control", rows="3", id="comment_text_id" ui-tinymce)
              .form-group
                .col-sm-12.text-right
                  button(type='submit',class='btn btn-default') submit comment

              .form-group
                .col-sm-12.text-center
                  .alert {{warning}}


          .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
            div(ng-repeat='comment in essays.comments')
              .comment-div
                .row.comment-header
                  .col-xs-6.col-sm-6
                    .comment-author name: {{comment.name}}
                  .col-xs-6.col-sm-6
                    .comment-date date: {{comment.updatedAt}}
                .row
                  .col-xs-2.col-sm-4 comment:
                  .col-xs-10.col-sm-8
                    div(class="comment-format" ng-bind-html="trust(comment.comment)")

                div(class='row response-div', ng-if="comment.response")
                  .col-xs-2.col-sm-4 response:
                  .col-xs-10.col-sm-8
                    div(class="response-format" ng-bind-html="trust(comment.response)")











        .bottom-buffer
  .bottom-buffer




