extends layout

block content
        script(type="text/javascript" src="/bower_components/tinymce-dist/tinymce.js")
        script(type="text/javascript" src="/bower_components/angular-ui-tinymce/src/tinymce.js")

        script(src="/javascripts/angularApp_Index.js")
        script.
            tinymce.init({
                selector:'div.comment-div',
                menubar: false,
                statusbar: false,
                toolbar:false
            })




        .container(ng-controller='MainCtrl')
         #essay-wrapper
          .col-xs-12.col-sm-12.essay-header
            .col-xs-6.col-sm-6
              h2.essay-title {{essays.essay.essay_title}}
            .col-xs-6.col-sm-6.essay-date
              h3.essay-date {{essays.essay.updatedAt}}

          .col-xs-12.col-sm-12
              div(class="essay-format" ng-bind-html="trust(essays.essay.essay)")


          .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1
              form(class='form-horizontal',ng-submit="add_comment()")
                .form-group
                    .col-sm-12.text-center
                        h4.add-comment-text add comment
                        div.post-warning warning: comments must get approved before posted.
                .form-group

                          .col-xs-2.col-sm-2.control-label
                            label name:
                          .col-xs-10.col-sm-10
                            input(ng-model="comment_name",type='text', class='form-control', placeholder='type name here')/
                            input(type='text', class='form-control', ng-model='test', style='display:none;')/
                            input(ng-model="essay_id",type='hidden', class='form-control')/
                            input(ng-model="essay_title",type='hidden', class='form-control')/
                .form-group
                            .col-xs-2.col-sm-2.control-label
                                label comment:
                            .col-xs-10.col-sm-10
                                div(class="comment-div form-control", rows="3", ng-model="comment_body" ui-tinymce )
                .form-group
                    .col-sm-12.text-right
                        button(type='submit',class='btn btn-default') submit comment

                .form-group(ng-if="warning")
                    .col-sm-12.text-center
                        .alert {{warning}}
          .col-xs-12.col-sm-12
            hr

          .col-xs-12.col-sm-12
               h3(ng-if="essays.comments.length > 0") comments:
               div(ng-repeat='comment in essays.comments')
                   .row.comment-div
                      .row.comment-header
                          .col-xs-6.col-sm-6
                                .comment-author name: {{comment.name}}
                          .col-xs-6.col-sm-6
                                .comment-date date: {{comment.updatedAt}}
                      .row.comment-body
                          .col-xs-2.col-sm-4
                              .comment-author comment:
                          .col-xs-10.col-sm-8
                              div(class="comment-format" ng-bind-html="trust(comment.comment)")

                      div(class='row response-div', ng-if="comment.response")
                        .col-xs-2.col-sm-4 response:
                        .col-xs-10.col-sm-8
                            div(class="response-format" ng-bind-html="trust(comment.response)")














        .bottom-buffer