extends layout

block content
        script(src="/javascripts/angularApp_Index.js")



        .container(ng-controller='MainCtrl')
          .row


              h2.essay-title {{essays.essay.essay_title}}
              h3.essay-date {{essays.essay.updatedAt}}
              pre.essay-format {{essays.essay.essay}}

              form(class='form-horizontal',ng-controller="CommentCtrl",ng-submit="add_comment()")
                .form-group
                    .col-sm-12.text-center
                        h4.add-comment-text add comment
                        div.post-warning warning: I only post the comments I like, so be nice!
                .form-group
                    label.col-sm-2.control-label name:
                    .col-sm-10
                        input(ng-model="comment_name",type='text', class='form-control', placeholder='type name here')/
                        input(type='text', class='form-control', ng-model='test', style='display:none;')/
                        input(ng-model="essay_id",type='hidden', class='form-control')/
                        input(ng-model="essay_title",type='hidden', class='form-control')/
                .form-group
                    label.col-sm-2.control-label comment:
                    .col-sm-10
                        textarea(ng-model="comment_body", class="form-control", rows="3")
                .form-group
                    .col-sm-12.text-right
                        button(type='submit',class='btn btn-default') submit comment

                .form-group
                    .col-sm-12.text-center
                        .alert {{warning}}

               div(ng-repeat='comment in essays.comments | reverse')
                  .comment-div
                      .comment-author name: {{comment.name}}
                      .comment-date date: {{comment.updatedAt}}
                      .comment-date approved: {{comment.approved}}
                      pre.comment-text {{comment.comment}}
                      pre(ng-if="comment.response")
                        span response:
                        .comment-text {{comment.response}}













        .bottom-buffer