/*INDEX*/


.essay-title {

}
.essay-date {
  font-size: 12px;
  text-align: right;
}
.essay-format {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  font-size: 18px;
  line-height: 1.8;
  padding:20px;
  width:80%;
  margin:0px auto;
}




/*ESSAYS*/

.pagination {
  margin: 0px;

}
.total-text {
  font-size: 10px;
  font-style: italic;
  margin: 0px;
}


.essay-list{
  list-style-image: none;
  list-style-type: none;
}
.essay-list a {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  font-size: 18px;
  line-height: 1.8;
  padding:20px;
}
.add-comment-text {
  margin: 0px;
}
.post-warning {
  color:#FF9900;
  font-style: italic;
  text-align: center;
  margin: 0px;
  font-weight: bold;
}

#comment_form{
 border:1px solid #cccccc;
  border-radius: 20px;
  padding:10px 20px;
  margin:20px auto;

  width:80%;

}

.comment-div {
  border:1px solid #cccccc;
  border-radius: 20px;
  background-color: #F0F8FF;
  box-shadow: 0px 10px 5px #888888;
  padding:10px 20px;
  margin:20px auto;
  width:70%;
}
.comment-div div {
  padding: 0px;
  margin:0px;
}
.bottom-buffer {
  height:300px;
}



/* SITE WIDE*/
footer {
  text-align: center;
}
a, a:visited, a:active {
  color: #333;
}
a:hover {
  color:#CCC;
}

.alert {
  color:#FF0000;
  font-style: italic;
  text-align: center;
}


#pagination_div{
  text-align: center;
}

.pagination a {
  cursor:pointer;
}


/* MEDIA*/

#pagination_div {
  margin-top: 10px;
}



/* ADMIN */
.enter-media-form {

display: block;
  border-radius: 10px;
  border: 2px solid #CCCCCC;
  margin:20px auto;
  padding:20px;
  width:70%;

}
.data-table {
  border-radius: 10px;
  border: 2px solid #CCCCCC;
  margin:20px auto;

  width:70%;
}

















/*MEDIA CHARTS*/

.bar_chart {
  width:1000px;
  height:900px;

}
.bar_chart rect {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 5px;
  border: 2px solid #000;
  /* background: #222222; */
  background: #fff;
  opacity: .9;
  /* color: #eeeeee; */
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}
